/* General styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

header {
  background: #333;
  color: #ffffff;
  padding: 1em 0;
  animation: slideInFromTop 1s ease-out;
}

@keyframes slideInFromTop {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

header h1 {
  font-size: 2em;
  margin: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
  transition: background 0.3s;
  animation: fadeIn 2s ease-in-out;
}

nav ul li a:hover {
  background: #575757;
}

main {
  padding: 2em 0;
  background: #fff;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.content {
  margin-bottom: 2em;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 1em;
  text-align: center;
  color: #333;
  animation: fadeIn 1.5s ease-in-out;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.product-item {
  flex: 1 1 calc(50% - 2%);
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1em;
  text-align: center;
  animation: zoomIn 0.5s ease-in-out;
}

@keyframes zoomIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  animation: fadeIn 1.5s ease-in-out;
}

.product-item img {
  width: 100%;
  height: auto;
  max-width: 300px; /* Set a max-width for better control */
  margin: 0 auto; /* Center the image */
  animation: fadeInUp 1s ease-in-out;
}

.about img {
  width: 100%;
  height: auto;
  max-width: 600px; /* Set a max-width for the about section image */
  margin: 0 auto;
  animation: fadeIn 1.5s ease-in-out;
}

footer {
  background: #333;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
  animation: fadeIn 1.5s ease-in-out;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 0.5em 0;
  }

  header h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  .product-item {
    flex: 1 1 100%;
  }

  body {
    font-size: 14px;
  }

  nav ul li a, p, footer {
    font-size: 0.875em;
  }
}
